*{
  margin:0;
  padding:0;
  background-repeat: no-repeat;
}
body{
  width:100%;
}
.container{
  display:flex;
  flex-direction: row;
}
header{
  background-image: url(../assets/img/carrete.jpg);
  background-repeat: repeat;
  justify-content: space-between;
  height: 80px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width:70%;
}
#seccion-titulos{
  width:30%;
  display: flex;
  justify-content:center;
  align-items: center;
}
#titulo{
  color:#FFF;
  font-size: 50px;
  font-family: 'Tangerine', cursive;

}
.botones-nav{
  text-decoration:none;
  color:#FFF;
  font-size: 20px;
  cursor:pointer;
}
.botones-nav:hover{
  color:#F80A71;
}

#seccion-fotos{
  width:100%;
  background-image: url(../assets/img/fondo.jpg);
  background-repeat: repeat;
  justify-content: center;
  height: 550px;

}

.contenedorFoto{
  width:20%;
  height:500px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;

}
img{

  width:90%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-top: 3px  solid #efb810;
  border-bottom: 3px  solid #efb810;
}
.close{
  padding-right: 5%;;
  color:#F50031;
  font-size: 40px;
  position: absolute;
  margin-top:-7%;
  margin-left:10%;
  cursor: pointer;
}

#contenedor-general-botones{
  background-image: url(../assets/img/carrete.jpg);
  background-repeat: repeat;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  height: 60px;
  border-bottom:2px solid #fff;
}

.botones{
  text-decoration: none;
  text-align: center;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 0%;
  padding-bottom: 1%;
  font-size: 20px;
  color:#FFFFFF;
  cursor: pointer;

}
.botones:hover{
  color: #F80A71;
}

#contenedor-parrafos{
  background-image: url(../assets/img/fondo-parrafo2.jpg);
  background-repeat: repeat-x;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
}
.parrafos{
  width:40%;
  align-content: center;
  align-items: center;
  justify-content: center;
  display:flex;
}

.seccionParrafos{
  color:#000;
  width:80%;
  height:30%;
  font-size: 30px;
  align-self: center;
  font-family: 'Tangerine', cursive;
  padding:2%;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  margin:15%;
  text-align: center;
}
#parrafoUno{
  padding-left: 5%;
  visibility: visible;
}
#parrafoDos{
  visibility: visible;
}
footer{
  display: flex;
  background: #8a9597;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#textoFooter{
  color:#000;
}
