*{
  margin:0;
  padding:0;
}
body{
  width:100%;

}

.container{
  display:flex;
  flex-direction: row;
}
header{
  background-image: url(../assets/img/carrete.jpg);
  justify-content: space-between;
  height: 80px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width:70%;
}
#seccion-titulos{
  width:30%;
  display: flex;
  justify-content:center;
  align-items: center;
}
#titulo{
  color:#FFF;
  font-size: 50px;
  font-family: 'Tangerine', cursive;

}
a{
  text-decoration: none;
  color:#FFF;
  font-size: 20px;
}

#seccion-fotos{
  width:100%;
  background-image: url(../assets/img/fondo.jpg);
  justify-content: center;
  height: 550px;

}

.contenedorFoto{
  width:20%;
  height:500px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;

}
img{

  width:90%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-top: 3px  solid #efb810;
  border-bottom: 3px  solid #efb810;
}
.close{
  padding-right: 40px;
  color:#F50031;
  font-size: 40px;
  position: absolute;
  margin-top:-100px;
  margin-left:120px;
}
